/*
|------------------------------------------------------
| CSS INDEX
|------------------------------------------------------

1. GLOBAL STYLESHEET

2. NAVBAR SECTION

3. HEADER SECTION

4. ABOUT SECTION

5. STAT SECTION

6. SERVICES SECTION

7. WORK SECTION

8. TESTIMONIALS SECTION

9. CONTACT SECTION

10. FOOTER


/*==========================================================

                    START GLOBAL STYLESHEET

===========================================================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 700;
    -webkit-font-smoothing: antialiased;;
    -moz-font-smoothing: antialiased;;
    -ms-font-smoothing: antialiased;;
    -o-font-smoothing: antialiased;;
    font-smoothing: antialiased;
    overflow: hidden;
    overflow-x: hidden!important;
    background: #222;
    color: #fff;
}

section {
    padding: 70px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.title {
    margin-bottom: 75px;
}

.line {
    width: 70px;
    height: 2px;
    margin: auto;
}

h1 {
    text-shadow: 0.15vw 0.15vw rgba(0, 0, 0, 0.67);
    font-size: 40px;
    margin-top: 0;
}


/*==========================================================

                    START NAVBAR STYLESHEET

===========================================================*/

.navbar-default {
    border: none;
    background-color: transparent;
    font-weight: 900;
}

.navbar-collapse ul li a {
    text-transform: uppercase;
}

nav ul li {
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.navbar-default ul .active {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

nav.shrink {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: #FFF;
    box-shadow: 0 0 15px rgba(51, 51, 51, 0.15);
}

nav.shrink .navbar-nav>li>a {
    color: #333;
}

.navbar .navbar-header .logo {
    text-shadow: 0.15vw 0.15vw rgba(0, 0, 0, 0.67);
    margin-top: 17px;
}

.navbar .navbar-header a {
    color: rgb(250, 34, 91);
    text-decoration: none;
}

.navbar .navbar-header a:hover {
    color: #FFF;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}


/*==========================================================

                    START HEADER STYLESHEET

===========================================================*/


.home {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    height: 100vh;
    width: 100%;
    position: relative;
    color: #F8F8F8;
    padding: 0;
    z-index: 3;
    overflow: hidden;
}

.home-paralax {
    background-image: url(../images/background_paralax.jpeg); /* Here You Can Edit the image of Header (Background Particles)  */
    background-size: cover;
    background-repeat: no-repeat;
}

.home .particles {
    background-image: url(../images/background-particles.jpg); /* Here You Can Edit the image of Header (Background Particles)  */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
}

.home .youtube #bg-video{
    position: absolute;
    top:0;
    left:0;
    z-index: -999;
    width: 1386px;
    height: 780px;
    background-position: center center;
}

.home .youtube .overlay-video {
    position: absolute;
    top: 0;
    background-color: rgba(255,255,255,0.1);
    width: 100%;
    height: 100vh;
}

.home .slider .slider1 {
    background-image: url(../images/background_slider1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

.home .slider .slider2 {
    background-image: url(../images/background_slider2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

.home .slider .slider3 {
    background-image: url(../images/background_slider3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh
}

.home .slider {
    height: 100vh;
}

.home .slider2 .title {
    margin-left: 15%
}

.home .slider2 .title h1,
.home .slider2 .title p {
    text-align: left;
}

.home .slider3 .title {
    margin-right: 15%
}

.home .slider3 .title h1,
.home .slider3 .title p {
    text-align: right;
}

.home .slider .slick-prev,
.home .slider .slick-next {
    position: absolute;
    bottom: 39px;
    z-index: 99;
    font-size: 43px;
    font-weight: lighter;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50px;
    height: 45px;
    width: 45px;
    line-height: 48px;
    text-align: center;
    padding: 0;
    color: #444;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.home .slider .slick-prev:hover ,
.home .slider .slick-next:hover {
    background-color: #FFF;
    color: #333;
}

.home .slider .slick-prev {
    right: 160px;
}

.home .slider .slick-next {
    right: 100px;
}

.home .overlay-home {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: rgba(51,51,51,0.2); */
}

.home .title {
    position: relative;
	top: calc((100vh / 2) - 67px);
}

.home .title h1{
    font-size: 65px;
    text-shadow: 0.15vw 0.15vw rgba(0, 0, 0, 0.67);
    text-align: center;
    margin: 0 0 23px;
}

.home .title p {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}

.typed-cursor, .type {
    display: inline;
    font-weight: 300;
    font-size: 24px;
}

.home .title a {
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #F8F8F8;
    display: block;
    margin: auto;
    color: #F8F8F8;
    text-transform: uppercase;
    border-radius: 20px;
}

.home .down a i {
    text-decoration: none;
    color: #ededf5;
    display: inline-block;
    position: absolute;
    left: 49%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    animation: translate 2.5s ease-in-out infinite;
}

@keyframes translate {
    0% {
      opacity: .9
    }
    50% {
     -webkit-transform: translateY(12px)  scale(1);
      opacity: 0.3;
    }
    100% {
    -webkit-transform:  scale(1);
      opacity: .6;

    }
    100% {
    -webkit-transform:  scale(1);
      opacity: .9;

    }
}

.home a i.one {
    bottom: 35px;
}
.home a i.two {
    bottom: 24px;
}
.home a i.three {
    bottom: 13px;
}

/*==========================================================

                    START ABOUT STYLESHEET

===========================================================*/

.about p,
.about .infos .social-media{
    margin: 0 0 18px;
    color: #ccc;
}

.about .skills {
    padding: 0;
}

.about .skills p {
    margin: 0 0 8px;
}

.about .infos .info-perso p {
    color: #888;
    letter-spacing: 0.6px;
}

.about .infos .info-perso p a{
    color: #ccc;
}

.about .infos .social-media a {
    padding-right: 12px;
}

.about .infos .social-media a i:hover {
    transform: scale(1.5);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.about .infos .info-perso p:nth-child(2) a:hover {
    text-decoration: none;
    color: #7a89ab;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.about .infos .info-perso button.resume {
    background: transparent;
    border-color: rgb(250, 34, 91);
    width: 166px;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 3px;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.about .infos .info-perso button.resume:hover {
    text-shadow: 0.15vw 0.15vw rgba(0, 0, 0, 0.67);
    background: rgb(250, 34, 91);
    font-weight: 900;
}

.about .infos img {
    max-width: 160px;
    margin: auto;
}

.about .buttons a {
    width: 194px;
    height: 45px;
    line-height: 43px;
    color: #FFF;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.7px;
    margin: 35px 0 0 66px;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.about .buttons a:last-of-type {
    color: #333;
    width: 124px;
    height: 45px;
    margin-left: 15px;
}

.about .buttons a:last-of-type:hover {
    color: #fff;
}

.about .infos .parag p{
    line-height: 1.7;
    color: #888;
    letter-spacing: 0.2px;
}

.about .infos .parag p:last-of-type {
    font-weight: bold;
}

/*==========================================================

                    START STAT STYLESHEET

===========================================================*/

.stat {
    position: relative;
    background-image: url(../images/background_stats.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    color: #FFF;
}

.stat i {
    display: block;
    font-size: 50px;
    margin-bottom: 8px;
}

.stat p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1px;
}


/*==========================================================

                    START SERVICES STYLESHEET

===========================================================*/

.serv .title {
    margin-bottom: 85px;
}

.serv .infos img {
    width: 65px;
    height: 65px;
    margin: auto;
}

.serv .infos h4 {
    color: #888;
    line-height: 1.7;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 45px;
}

.serv .infos i {
    font-size: 60px;
    color: white;
}

.serv .infos div:nth-child(1n+7) h4 {
    margin-bottom: 0;
}


/*==========================================================

                    START TESTIMONIALS STYLESHEET

===========================================================*/

.testim {
    position: relative;
    background-image: url(../images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position-y: 40%;
    -moz-background-position-y: 40%;
    -ms-background-position-y: 40%;
    -o-background-position-y: 40%;
    background-position-y: 40%;
    height: auto;
    width: 100%;
    color: #F8F8F8;
}

.testim q {
    display: block;
    padding-bottom: 15px;
    line-height: 1.7;
    font-style: italic;
    font-size: 15px;
    margin: 0 30% 8px;
    margin-top: 10px;
}

.testim span {
    font-size: 19px;
    text-transform: uppercase;
}

.testim .swiper-container {
    width: 100%;
    height: 100%;
    margin-bottom: 23px;
}

.testim .quote {
    position: relative;
    width: 55%;
    margin: auto;
}

.testim .quote i {
    position: absolute;
    font-size: 23px;
}

.testim .quote i:first-of-type {
    top: -30px;
    left: 0;
}

.testim .quote i:last-of-type {
    bottom: -161px;
    right: 0;
}



/*==========================================================

                    START WORK STYLESHEET

===========================================================*/

.work .show-more,
.work .show-less {
    background: transparent;
    width: 151px;
    padding: 8px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 3px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.work .show-more:hover,
.work .show-less:hover {
    background: rgb(26,188,156)!important;
    color: #FFF!important;
}

.work .show-less {
    display: none;
}

.work .info {
    text-align: center;
}

.work .info .row:nth-child(2) {
    margin-top: 30px;
} 

.work .items-box {
    overflow: hidden;
}

.work .items-box .item{
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
}

.work .items-box .item .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.work .items-box .item .over i {
    color: #FFF;
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.work .items-box .item:hover .over {
    opacity: 1;
}

.less {
    display: none;
}

.work-title h4 {
    color: rgb(250, 34, 91);
    text-decoration: none;
}

.work-title a {
    color: #FFF;
    text-decoration: none;
}

.work-title a:hover {
    color: rgb(250, 34, 91);
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*==========================================================

                    START CONTACT STYLESHEET

===========================================================*/

.contact {
    position: relative;
    background-image: url(../images/background_contact.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-position-y: 76%;
    -moz-background-position-y: 76%;
    -ms-background-position-y: 76%;
    -o-background-position-y: 76%;
    background-position-y: 76%;
    height: auto;
    width: 100%;
    color: #F8F8F8;
    font-weight: 900;
    padding-bottom: 0;
}

.contact .title {
    margin-bottom: 75px;
}

.contact h1 {
    position: relative;
    color: #FFF
}

.contact .line {
    position: relative;
    background-color: #FFF!important;
}

.contact .infos i {
    display: block;
    font-size: 43px;
    margin-bottom: 25px;
}

.contact .commun span {
    font-size: 15px;
    display: inline-block;
    background-color: #FFF;
    padding: 2px 12px;
    margin-bottom: 15px;
    border-radius: 2px;
    letter-spacing: 0.5px;
    text-shadow: none!important;
}

.contact .infos a {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-size: 16px;
    margin-top: 7px;
    letter-spacing: 0.5px;
}

.contact form {
    margin-top: 60px
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    display: block;
    margin: 0 auto 23px;
    background-color: transparent;
    border: 2px solid #FFF;
    padding: 10px;
    width: 75%;
    color: #FFF;
    border-radius: 2px;
}

.contact textarea {
    height: 107px;
    width: 80%;
}

.contact textarea::placeholder,
.contact input::placeholder {
    color: #FFF
}
.contact textarea::-webkit-input-placeholder,
.contact input::-webkit-input-placeholder {
    color: #FFF
}
.contact textarea::-mo-input-placeholder,
.contact input::-moz-input-placeholder {
    color: #FFF
}
.contact textarea::-o-input-placeholder,
.contact input::-o-input-placeholder {
    color: #FFF
}

.contact form input[type="submit"] {
    position: relative;
    background-color: #FFF;
    border: 1px solid #FFF;
    padding: 8px 22px;
    margin-top: 20px;
    border-radius: 1px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-shadow: none!important;
}

.contact form input[type="submit"]:hover {
    text-shadow: 0.15vw 0.15vw rgba(0, 0, 0, 0.67)!important;
    background-color: rgb(250, 34, 91);
    border: 1px solid rgb(250, 34, 91);
    color: #FFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.contact form .form-tip {
    display: inline-flex;
    margin-top: 20px;
}

.contact form .form-tip i {
    font-size: 20px;
    margin-right: 5px;
}

/*==========================================================

                     START FOOTER STYLESHEET

===========================================================*/

footer {
    position: relative;
    margin-top: 80px;
}

footer .social-media a {
    text-decoration: none;
    color: #FFF;
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 38px;
    height: 38px;
    line-height: 40px;
    display: inline-block;
    margin-right: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

footer .social-media a:hover {
    background-color: #FFF;
    color: #7a89ab;
}

footer .copyright p {
    font-size: 12px;
    margin: 0;
    font-weight: lighter;
    letter-spacing: 0.7px;
}

footer .copyright p span {
    font-style: italic
}

footer .copyright p:first-of-type {
    margin-top: 40px
}

footer .copyright p:last-of-type {
    margin-bottom: 25px
}

/* Start ScrollTop */

.scrolltop {
    position: relative;
    display: none;
}

.scrolltop i {
    z-index: 999;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0,0,0,.3);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    border-radius: 2px;
}

/* End ScrollTop */


/* Start Loading */

.loading-overlay {
    background: #141414;
    color: rgb(250, 34, 91);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    padding-top: calc((100vh / 2) - 20px);
}

.cssload-loader {
	position: relative;
	left: calc(50% - 31px);
	width: 62px;
	height: 62px;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	perspective: 780px;
}

.cssload-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;	
}

.cssload-inner.cssload-one {
	left: 0%;
	top: 0%;
	animation: cssload-rotate-one 1.15s linear infinite;
		-o-animation: cssload-rotate-one 1.15s linear infinite;
		-ms-animation: cssload-rotate-one 1.15s linear infinite;
		-webkit-animation: cssload-rotate-one 1.15s linear infinite;
		-moz-animation: cssload-rotate-one 1.15s linear infinite;
	border-bottom: 5px solid rgb(250, 34, 91);
}

.cssload-inner.cssload-two {
	right: 0%;
	top: 0%;
	animation: cssload-rotate-two 1.15s linear infinite;
		-o-animation: cssload-rotate-two 1.15s linear infinite;
		-ms-animation: cssload-rotate-two 1.15s linear infinite;
		-webkit-animation: cssload-rotate-two 1.15s linear infinite;
		-moz-animation: cssload-rotate-two 1.15s linear infinite;
	border-right: 5px solid rgb(250, 34, 91);
}

.cssload-inner.cssload-three {
	right: 0%;
	bottom: 0%;
	animation: cssload-rotate-three 1.15s linear infinite;
		-o-animation: cssload-rotate-three 1.15s linear infinite;
		-ms-animation: cssload-rotate-three 1.15s linear infinite;
		-webkit-animation: cssload-rotate-three 1.15s linear infinite;
		-moz-animation: cssload-rotate-three 1.15s linear infinite;
	border-top: 5px solid rgb(250, 34, 91);
}

@keyframes cssload-rotate-one {
	0% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-one {
	0% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-one {
	0% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-one {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-one {
	0% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-two {
	0% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-two {
	0% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-two {
	0% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-two {
	0% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-two {
	0% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
	}
}

@keyframes cssload-rotate-three {
	0% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-o-keyframes cssload-rotate-three {
	0% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-ms-keyframes cssload-rotate-three {
	0% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-webkit-keyframes cssload-rotate-three {
	0% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

@-moz-keyframes cssload-rotate-three {
	0% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
	}
	100% {
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
	}
}

/* End Loading */


/* Modal-Content */

.modal-content {
    background: rgba(34,34,34,.6)!important;
}

.modal-body > p {
    text-align: center;
    font-size: 16px;
}

.modal-header button.close {
    color: #FFF;
}

.modal-footer button {
    background: none;
    border: 1px solid rgb(26,188,156);
    color: #FFF;
    padding: 8px 22px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.modal-footer button:hover {
    background: rgb(26,188,156)!important;
    color: #FFF!important;
}

/* End Modal-Content */